.acceso{
    height: 100vh;
    
    background-image: url("../../assets/images/lobox.jpg");

   background-repeat: no-repeat;
   background-size:cover;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center
}

.contenedor-acceso{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 56px 0 56px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 90vh;
    width: 80vw;
    padding: 0px;

}

.enlace-simple{
 text-decoration: none;
}


@media(min-width: 720px){

    .contenedor-acceso{
        width: 30vw;
    }

}