.header{

    background-color: rgb(255, 255, 255);
    grid-area: header;
    z-index: 4;
}


  
  .header i{
cursor: pointer;
z-index: 3;
  }

  .burger{
    visibility: visible;
  }

  @media (min-width:720px){
    

    .burger {
      visibility: hidden
      ;
        
     }
    }