.header{

    background-color: rgb(255, 255, 255);
    grid-area: header;
    z-index: 7;
}

.offcanvas-header button.close {
  color: red !important;
}

  
  .header i{
cursor: pointer;
z-index: 3;
  }

  .burger{
    visibility: visible;
  }

  .offcanvas{
    
    width: 70vw !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  .res-sidebar ul{
    padding-top: 5% ;
    padding-left: 2px;
    padding-right: 2px;
}

.res-sidebar li{
    list-style: none;
    line-height: 90px;
    font-size: 1.5rem;
}

.res-sidebar a{
    text-decoration: none;
}

.separador{
 border-right: 1px
}

.headhide{
  display: none;
}

.tam{
  height: 80px;
  width: 50px;
}

  @media (min-width:990px){
    

    .burger {
      visibility: hidden
      ;
        
     }

     

     .headhide{
      display: block;
     }

    }