.sidebar{
    
    grid-area: side;
    transition: width 0.3s ease;
    width: 400px ;
    background-color: rgba(0, 0, 0, 0.6);
    display: none ;
}


.x{
   background-color: rgba(0, 0, 0, 0.6);
   height: 80vh;
    margin-left: 20%;
    margin-top: 40px;
    border-radius: 40px 0 0 40px;
}

.sidebar ul{
    padding-top: 5% ;
}

.sidebar li{
    list-style: none;
    line-height: 40px;
    font-size: 2em;
}

.sidebar a{
    text-decoration: none;
}

 .colapsar {
    grid-area: side;
    width: 0px;
    /*background-color: yellow;*/
    
  }

  .colapsar ul{
    display: none;
  }

 .boton {
    border-radius: 50px;
    background-color: rgb(4, 4, 153);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
 }

 
 @media (min-width:720px) {
    .sidebar{
        display: block;
    }
 }