body{
    margin: 0;
    background-image: url("../../assets/images/wolf.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    
}

.dashboard{

    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr   ;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header header"
    "side main"
    ;

}