body{
    margin: 0;
    /**/
    
    background-color: rgb(246, 246, 246);
    
}

.dashboard{
    background-image: url("../../assets/images/wolf.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr   ;
    grid-template-rows: 12vh 1fr;
    grid-template-areas: 
    "header header"
    "side main"
    ;

}